.welcome,
.c404{
    text-align: center;
}

.c404 img {
    padding: 2em 0;
}

.welcome-logo {
    height: 144px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.third-logos {
    vertical-align: middle;
}

.container {
    min-height: 100%;
}
/* example styles */
.ex_alv .sidebar {
    float: none;
    width: 300px;
}
.ex_alv .navbar-header {
    float: none;
    width: 100%;
    background-color: black;
}
.ex_alv .navbar-header .sidebar-toggle {
    display: block !important;
}

/** bootstrap logo */
.bs-docs-booticon {
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
margin: 0 auto 30px;
}
.bs-docs-booticon-outline {
background-color: transparent;
border: 1px solid #cdbfe3;
}
.bs-docs-booticon-lg {
width: 144px;
height: 144px;
font-size: 108px;
line-height: 140px;
}
.bs-docs-booticon {
display: block;
font-weight: 500;
color: #fff;
text-align: center;
cursor: default;
background-color: #563d7c;
border-radius: 15%;
}

/* glyphicons */
.bs-glyphicons {
    margin: 0 -10px 20px;
    overflow: hidden;
}
.bs-glyphicons-list {
    padding-left: 0;
    list-style: none;
}
.bs-glyphicons li {
    float: left;
    width: 33%;
    font-size: 12px;
    height: 100px;
    padding: 10px;
    line-height: 1.4;
    text-align: center;
    background-color: #f9f9f9;
    border: 1px solid #fff;
}

@media (min-width: 768px) {
    .bs-glyphicons li {
        width: 12%;
    }
}
.glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
    font-family: 'Frutiger Neue Light', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 17px;
}
.bs-glyphicons .adminIcons {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
}
.bs-glyphicons li:hover {
    color: #fff;
    background-color: rgb(159, 204, 226);
}

/* github */
a[href*='github.com']:after {
    margin-left: 0;
    content: "";
}

/* release notes */
.show.alpha a, .show.beta a, .show.poc a, .show.rc a {
    height: 100%;
}