<div class="jumbotron">
    <h1>Hello, world!</h1>
    <p>...</p>
    <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
</div>

<h1>welcome</h1>


<input form-input form-append="map-marker" form-append-icon="true" form-append-btn="doLocation()" form-append-btn-submit="true" type="email" id="location" ng-model="location" placeholder="z.B. Ort, Gemeinde oder Kanton" />
<hr />
<div class="form-group">
    <div class="input-group">
        <div class="input-group-addon input-group-inset" glyph-icon="search"></div>
        <input class="form-control" type="email" placeholder="Enter email">
    </div>
</div>
        <br />
<div class="form-group">
    <div class="input-group">
        <div class="input-group-addon input-group-inset">
            <a href="#"  glyph-icon="search"></a>
        </div>
        <input class="form-control" type="email" placeholder="Enter email">
    </div>
</div>
<br />
<div class="form-group">
    <div class="input-group">
        <div class="input-group-addon input-group-inset">
            <button glyph-icon="search"></button>
        </div>
        <input class="form-control" type="email" placeholder="Enter email">
    </div>
</div>
<hr />
<input form-input form-inset="map-marker" type="email" id="location3" ng-model="location" placeholder="z.B. Ort, Gemeinde oder Kanton" /><br />
<input form-input form-inset="map-marker" form-inset-action="doLocation()" type="email" id="location5" ng-model="location" placeholder="z.B. Ort, Gemeinde oder Kanton" /><br />
<input form-input form-inset="map-marker" form-inset-action="doLocation()" form-inset-btn type="email" id="location7" ng-model="location" placeholder="z.B. Ort, Gemeinde oder Kanton" /><br />
<input form-input form-inset="map-marker" form-inset-action="doLocation()" form-inset-btn="submit" type="email" id="location9" ng-model="location" placeholder="z.B. Ort, Gemeinde oder Kanton" /><br />


